body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.code-box-demo {
    text-align: center;
}

.ant-layout-header,
.ant-layout-footer {
    color: #fff;
    background: #7dbcea;
    width: 100%;
    height: 100px;
}

[data-theme="dark"] .ant-layout-header {
    background: #6aa0c7;
}

[data-theme="dark"] .ant-layout-footer {
    background: #6aa0c7;
}

.ant-layout-footer {
    line-height: 1.5;
    width: 100%;
    height:150px;
}

.ant-layout-sider {
    color: #fff;
    line-height: 120px;
    background: #3ba0e9;
    padding: 10px;
    padding-top: 100px;
    flex: 10px 100px 0 285px;
}
[data-theme="dark"] .ant-layout-sider {
    background: #3499ec;
}
body {
    //overflow-y: hidden;
}
thead > tr > th {
    background-color: yellow;
}

.ant-layout-content {
    height: 85%;
    width: 95%;
   
    padding: 50px;
    padding-top: 81px !important;
    color: #fff;
    line-height: 120px;
    background: rgba(16, 142, 233, 1);
   
}

[data-theme="dark"] .ant-layout-content {
    background: #107bcb;
}

.code-box-demo > .ant-layout + .ant-layout {
    margin-top: 48px;
}
.tblTitle {
    color: black;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 65px;
    padding-left: 23px;
    display: flex;
    padding-top: 0px;
    height:50px;
}
.innerTbl {
    padding-top: 5px;
    padding-right: 30px;
}
.insideTbl
{

}
.innerTblInsideServerandPolicy {
    padding-top: 40px !important;
    padding: 5px;
}
.styleTabQueueData {
    background: #f0f0f0;
    transition: background 0.3s ease;
    border-bottom: 1px solid #f0f0f0;
    height: auto;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.resecImg{
    padding-top:25px;
    padding-left:10px;
}
.panelRowComplexity {
    width:100%;
    background-color:white;
    height:42px;
      
 }
.panelRowComplexityNum1 {
    padding-left: 261px;
   
}
.panelRowComplexityNum2 {
   
    padding-left: 334px;
    text-align: center;
    
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3ba0e9;
    border-radius: 10px;
}